#!/bin/bash

param=$1

export DO_TOKEN='{{do_token}}'

if [ "start" == "$param" ]; then
    python /usr/local/bin/assign-ip {{ floating_ip }} {{ droplet_id }}
elif [ "stop" == "$param" ]; then
    exit 0;
elif [ "status" == "$param" ]; then
    exit 0;
else
    echo "No such command $param"
    exit 1;
fi